body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #FF69B4;
    color: white;
    text-align: center;
    padding: 1rem;
}
h2 {
    background-color: #FF69B4;
    color: white;
    text-align: center;
    padding: 1rem; 
}

h3 {
    margin-left: 50px; /* Moves the entire h2 block to the right */
}

p {
    text-indent: 0; /* Indents the first line of the paragraph */
    margin-left: 50px; /* Optional: Adds space to the entire paragraph */
}

/* Style the social links */
#social-links {
    margin-top: 10px; /* Adds space between the header and the links */
}

#social-links a {
    text-decoration: none; /* Removes underline */
    color: #4B0082; /* Blue color for links */
    margin-right: 15px; /* Adds space between the links */
    font-size: 16px; /* Adjust font size */
}

#social-links a:hover {
    color: #4B0082; /* Darker blue on hover */
    text-decoration: underline; /* Optional: underline on hover */
}

